@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #02FE88;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 2000px;
  height: 94%;
  width: 94%;
  background: #201b2c;
  border-radius: 22px;
  box-shadow: 0px 0px 5px #201b2c;
}

.left-content {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-content h1 {
  font-size: 2rem;
  color: #00ff88;
  text-align: center;
}

.left-content img {
  margin-top: 50px;
  width: 50%;
}

.right-content {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 30px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #000;
}

.card-login h1 {
  font-size: 1.7rem;
  color: #00ff88;
  margin-bottom: 15px;
}

.textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  margin: 15px 0;
}

.textfield input {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #fff;
  font-size: 1.1rem;
  box-shadow: 0px 10px 40px #00000056;
  outline: 0;
}

.textfield input::placeholder {
  color: rgb(187, 187, 187);
}

.textfield input:focus {
  transition: ease all 0.3s;

  border: 2px solid rgba(187, 187, 187, 0.2);
  box-shadow: 0px 0px 10px #ffffff56;

}


.btn-login {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  width: 80%;
  padding: 14px 0;
  background-color: #00F77B;
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 245, 121, 0.25);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
}


@media (max-width: 800px) {
  .main-login {
    flex-wrap: wrap;
    height: 80%;
  }

  .left-content {
    width: 90vw;
  }

  .left-content h1 {
    font-size: 1.5rem;

  }

  .left-content img {
    margin-top: 30px;
    width: 70%;
  }

  .right-content {
    width: 100vw;
  }

  .card-login {
    width: 90%;
  }

  .textfield {
    width: 100%;
    margin: 10px 0;

  }

  .btn-login {
    width: 100%;

  }









}